.dropdown {
 align-items: flex-start;
 box-shadow: var(--boxshadows-action-secondary);
 display: flex;
 overflow: hidden;
 position: relative;
 width: 240px;
}

.dropdown .content {
 align-items: center;
 display: flex;
 flex: 1;
 flex-grow: 1;
 gap: 2px;
 padding: 4px 4px 4px 0px;
 position: relative;
}

.dropdown .prefixicon-value {
 align-items: flex-start;
 display: flex;
 flex: 1;
 flex-grow: 1;
 gap: 2px;
 padding: 0px 4px;
 position: relative;
}

.dropdown .value {
 color: var(--colors-text-text1);
 flex: 1;
 font-family: var(--small-regular-font-family);
 font-size: var(--small-regular-font-size);
 font-style: var(--small-regular-font-style);
 font-weight: var(--small-regular-font-weight);
 letter-spacing: var(--small-regular-letter-spacing);
 line-height: var(--small-regular-line-height);
 margin-top: -1px;
 position: relative;
}

.dropdown .chevron-small-down {
 height: 16px !important;
 position: relative !important;
 width: 16px !important;
}

.dropdown.is-disabled-0-false {
 border-radius: var(--app-variables-border-radius);
}

.dropdown.is-error-true {
 border: 1px solid;
}

.dropdown.is-hovered-0-false {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.dropdown.is-hovered-0-true {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.16) 100%);
}

.dropdown.is-disabled-0-true {
 border-radius: 4px;
 opacity: 0.4;
}

.dropdown.is-focused-0-true {
 border: 1px solid;
 border-color: var(--colors-blue-blueborder);
}

.dropdown.is-focused-0-false.is-error-true {
 border-color: var(--colors-red-redborder);
}
