.divider {
 position: relative;
}

.divider.two {
 background-color: var(--colors-border-border2);
}

.divider.horizontal {
 height: 1px;
 width: 100px;
}

.divider.vertical {
 height: 100px;
 width: 1px;
}

.divider.one {
 background-color: var(--colors-border-border1);
}

.divider.vertical.three {
 background-color: var(--colors-border-border2);
}

.divider.horizontal.three {
 background-color: var(--colors-border-border3);
}
