.button {
 all: unset;
 align-items: center;
 border-radius: var(--app-variables-border-radius);
 box-sizing: border-box;
 display: inline-flex;
 gap: 2px;
 justify-content: center;
 position: relative;
}

.button .label {
 font-family: var(--small-regular-font-family);
 font-size: var(--small-regular-font-size);
 font-style: var(--small-regular-font-style);
 font-weight: var(--small-regular-font-weight);
 letter-spacing: var(--small-regular-letter-spacing);
 line-height: var(--small-regular-line-height);
 margin-top: -1px;
 position: relative;
 text-align: center;
 white-space: nowrap;
 width: fit-content;
}

.button .div {
 border: 1px solid;
 border-color: var(--colors-blue-blueborder);
 border-radius: 5px;
 height: 28px;
 left: -2px;
 position: absolute;
 top: -2px;
 width: 38px;
}

.button.is-hovered-1-false {
 padding: 4px;
}

.button.color-variant-danger {
 box-shadow: var(--boxshadows-action-colored);
}

.button.color-variant-primary {
 box-shadow: var(--boxshadows-action-colored);
 padding: 4px;
}

.button.is-disabled-1-true {
 opacity: 0.4;
 padding: 4px;
}

.button.is-focused-1-true {
 padding: 4px;
}

.button.color-variant-default {
 padding: 4px;
}

.button.is-disabled-1-true.variant-outline {
 border-color: var(--colors-border-actionsecondaryborder);
}

.button.is-focused-1-true.color-variant-primary {
 background-color: var(--colors-action-actionprimarybackground);
}

.button.is-focused-1-true.color-variant-danger {
 background-color: var(--colors-red-redbackground);
}

.button.is-focused-1-false.variant-outline {
 border: 1px solid;
}

.button.variant-solid.color-variant-default {
 box-shadow: var(--boxshadows-action-secondary);
}

.button.is-disabled-1-true.color-variant-primary {
 background-color: var(--colors-action-actionprimarybackground);
}

.button.is-hovered-1-false.color-variant-danger {
 background-color: var(--colors-red-redbackground);
}

.button.is-hovered-1-false.color-variant-primary {
 background-color: var(--colors-action-actionprimarybackground);
}

.button.is-hovered-1-false.variant-outline {
 border-color: var(--colors-border-actionsecondaryborder);
}

.button.is-disabled-1-true.color-variant-danger {
 background-color: var(--colors-red-redbackground);
}

.button.is-disabled-1-true.variant-solid.color-variant-default {
 background-color: var(--colors-background-background3);
}

.button.is-focused-1-true.variant-solid.color-variant-default {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.button.is-hovered-1-false.variant-solid.color-variant-default {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.button.is-focused-1-false.is-hovered-1-true.color-variant-danger.is-disabled-1-false {
 padding: 4px 8px;
}

.button.is-focused-1-false.variant-ghost.is-hovered-1-true.is-disabled-1-false {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.16) 100%);
}

.button.is-focused-1-false.is-hovered-1-true.variant-outline.is-disabled-1-false {
 background-color: var(--colors-background-background2);
 border-color: var(--colors-border-actionsecondaryborderhover);
}

.button.is-hovered-1-true.is-focused-1-false.is-disabled-1-false.variant-ghost.color-variant-danger {
 background-color: var(--colors-red-redbackgroundhover);
}

.button.is-hovered-1-true.is-focused-1-false.is-disabled-1-false.color-variant-primary.variant-solid {
 background-color: var(--colors-action-actionprimarybackgroundhover);
}

.button.is-hovered-1-true.is-focused-1-false.is-disabled-1-false.variant-solid.color-variant-danger {
 background-color: var(--colors-red-redbackgroundhover);
}

.button.is-hovered-1-true.is-focused-1-false.is-disabled-1-false.variant-solid.color-variant-default {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.16) 100%);
}

.button.is-hovered-1-true.is-focused-1-false.is-disabled-1-false.color-variant-primary.variant-ghost {
 background-color: var(--colors-action-actionprimarybackgroundhover);
}

.button.is-disabled-1-true.variant-outline .label {
 color: var(--colors-action-actionprimarytext);
}

.button.variant-ghost.is-disabled-1-false .label {
 color: var(--colors-text-text1);
}

.button.variant-ghost.is-disabled-1-true .label {
 color: var(--colors-action-actionprimarytext);
}

.button.color-variant-primary.variant-solid .label {
 color: var(--colors-action-actionprimarytext);
}

.button.variant-solid.color-variant-danger .label {
 color: var(--colors-action-actionprimarytext);
}

.button.is-disabled-1-false.variant-outline .label {
 color: var(--colors-text-text1);
}

.button.variant-solid.color-variant-default .label {
 color: var(--colors-text-text1);
}

.button.is-disabled-1-true.color-variant-primary .label {
 color: var(--colors-action-actionprimarytext);
}

.button.is-disabled-1-false.color-variant-default .label {
 color: var(--colors-text-text1);
}

.button.is-disabled-1-true.color-variant-danger .label {
 color: var(--colors-action-actionprimarytext);
}
